
    <br>
    <h2 class="rgy">TWO WAY DATA BINDING</h2>
    <div class="way">
    <label>Name :</label>
    <input [(ngModel)] = "TR.name"/>
    <p>{{TR.name}}</p>
    <p>{{TR.place}}</p>
</div>
    <br>
    <h2 class="rgy">NGIF</h2>
    <button type="button" (click)="toggleExists()">Toggle Component</button>
<hr>
    <div *ngIf="exists"> 
        hello
    </div>
    <br>
   

    <h2 class="rgy">NGFOR</h2>
    <div>
        <table class="style" >
          <thead>
          <td><b>Emp Name</b></td>
          <td><b>Dept Name</b></td> 
        </thead>
        <tbody>
          <tr *ngFor='let x of Employees'>
            <td>{{x.empname}}</td>
            <td>{{x.deptname}}</td>
          </tr>
        </tbody>
        </table>
      </div>
    