.style{

    border : Solid 1px rgb(25, 0, 255);
    margin: auto
    
    }
    
    td
    {
    
    border : Solid 1px rgb(55, 0, 255);
   
    }

    .way{
      border: solid 1px rgb(0, 4, 255);
     
    margin: auto
    }
    .rgy{
        background-color: rgb(97, 88, 228);
          
    }